* {
  color: rgb(60, 113, 182);
}

legend {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

fieldset {
  border: 3px solid rgb(60, 113, 182);
}

span {
  font-size: 16px;
  font-weight: normal;
  display: block;
}

.main-wrap {
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line {
  border: 2px solid rgb(60, 113, 182);
  height: 90vh;
  margin: 0 20px;
  margin-right: 50px;
}
