* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(10, 10, 10);
}

.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rim {
  width: 400px;
  height: 400px;
  background: rgb(45, 206, 255);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -5px 0px 0 rgb(51, 127, 150), 0px -5px 0 rgb(55, 153, 182),
    5px 0px 0 rgb(55, 153, 182), 0px 5px 0 rgb(55, 153, 182);
}

.inner-rim {
  width: 315px;
  height: 315px;
  background: rgb(63, 82, 94);
  border-radius: 50%;
  box-shadow: inset -5px 0px 5px black, inset 0px -5px 5px black,
    inset 5px 0px 5px black, inset 0px 5px 5px black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second,
.minute,
.hour {
  width: 4px;
  background: white;
  box-shadow: 0 0 10px white;
  border-radius: 10px;
  position: absolute;
}

.second {
  height: 145px;
  animation: rotate 60s steps(60) infinite;
}

.minute {
  height: 110px;
  animation: rotate2 3600s steps(60) infinite;
}

.hour {
  height: 70px;
  animation: rotate3 86400s steps(60) infinite;
}

@keyframes rotate {
  from {
    transform: rotate(45deg) translate(-50%, -50%);
  }

  to {
    transform: rotate(405deg) translate(-50%, -50%);
  }
}

@keyframes rotate2 {
  from {
    transform: rotate(105deg) translate(-50%, -50%);
  }

  to {
    transform: rotate(465deg) translate(-50%, -50%);
  }
}

@keyframes rotate3 {
  from {
    transform: rotate(330deg) translate(-50%, -50%);
  }

  to {
    transform: rotate(30deg) translate(-50%, -50%);
  }
}
